@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Futura PT Book";
    src: url("/fonts/FuturaPT-Demi.woff");
    font-weight: 600;
    font-style: normal;
}

.mainblocking {
    background-image: url("/images/Rectangle 51.png");
    background-size: cover;
    background-position: center;
}

h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 56px;
}

h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
}

h3 {
}

h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

.b {
    font-weight: 400;
}

.a_button {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    opacity: 0.7;
}

.h_p {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

button {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

input[type="checkbox"] {
    position: relative;
}

input[type="checkbox"]:checked::after {
    content: "\2713";
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
}
